@page "/"

<div class="row">
    <div class="col-6">
        <BlazorToDoApp.Pages.Components.ToDo HeaderName="Daily Task"/>

    </div>
    <div class="col-6">
        <BlazorToDoApp.Pages.Components.ToDo HeaderName="Monthly Task" />

    </div>
</div>